<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{he_fo_us::head}"></head>
    <body class="d-flex flex-column min-vh-100">
        <div th:insert="~{he_fo_us::header}"></div>

        <main class="flex-grow-1">
            <div class="container mt-5">
                <h4 class="text-center">Historial de Compras</h4>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Productos</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total</th>
                                <th>Comp. de Pago</th>
                                <th>Fecha de Envío</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pedidoAgrupado : ${pedidosAgrupados}">
                                <td>
                                    <ul>
                                        <li th:each="detalle : ${pedidoAgrupado.detallesPedido}" th:text="${detalle.product.name}"></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li th:each="detalle : ${pedidoAgrupado.detallesPedido}" th:text="${detalle.quantity}"></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li th:each="detalle : ${pedidoAgrupado.detallesPedido}" th:text="${detalle.price} + ' soles'"></li>
                                    </ul>
                                </td>
                                <td th:text="${pedidoAgrupado.totalAmount} + ' soles'"></td>
                                <td>
                                    <img th:src="@{/images/{img}(img=${pedidoAgrupado.imagenPago})}" alt="Comprobante de Pago" style="width: 80px; height: auto;">
                                </td>
                                <td>
                                    <a href="#" class="btn btn-outline-primary"> <i class="fa-solid fa-truck-fast"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <div th:insert="~{he_fo_us::footer}"></div>
    </body>
</html>
